{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {% for article in articles %}
            <div class="card w-75 mx-auto my-2">
                <div class="card-body">
                    <h4 class="card-title">{{ article.titulo }}</h4>
                    <p class="card-text">{{ article.resumen }}</p>
                    <a href="{{ path('article', {num: article.id}) }}" class="btn btn-primary">Ver articulo</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    Mi Repertorio
{% endblock %}